MONGODB_URI=mongodb+srv://test:<db_password>@cluster0.f3znuhf.mongodb.net/?appName=Cluster0
MONGODB_DB=demo_db
MONGODB_COLLECTION=demo_collection

CAMERA_DEVICE=0
CAMERA_WIDTH=640
CAMERA_HEIGHT=480
CAMERA_FPS=15